#app
  nav#navbar
    ul
      li
        a(href='#header_index') ABOUT
      li
        a(href='#section_skill') SKILL
      li
        a(href='#section_works') WORKS
      li
        a(href='#section_social') SOCIAL

  header#header_index
    .container
      img.icon(src="static/profolio.png" alt="")

      img.line(src="static/Path.svg" alt="")
      .explore 作品
        a(class="explore" href='#section_social')
  section#section_skill
    .contain
      .row
        h2 找尋前端工程師機會
      .row.menu
        li.menu-item
          a(href='') Frond-end Skill
          .sub-menu
            li.menu-item
              a(href='') ✔ HTML5 & CSS3 : Pug /  Sass /  Bootstrap
            li.menu-item
              a(href='') ✔ JavaScript (ES6) / JQuery
            li.menu-item
              a(href='') ✔ API : Ajax / Axios / Json
        li.menu-item
          a(href='') Design / UI / UX
          .sub-menu
            li.menu-item
              a(href='') ✔ VS Code / NPM / Git / Sublime
            li.menu-item
              a(href='') ✔ Adobe : AI / PS / XD / Sketch
            li.menu-item
              a(href='') ✔ Zeplin / Grid / Flex Layout
      .row
        h6  ░   ░   ░ 

  section#section_works
    .group
      img.block(src="static/Singboard.jpg" alt="")
      img.block(src="static/UESTA.jpg" alt="")
      img.block(src="static/carrent.jpg" alt="")
      img.block(src="static/MAP.jpg" alt="")
      img.block(src="static/CI.jpg" alt="")
      img.block(src="static/ICEland.jpg" alt="")

  section#section_social
  nav
    ul
      li
        a(href='https://www.facebook.com/YAchen6108' target="_blank") / FACEBOOK
      li
        a(href='https://github.com/xiao6108' target="_blank") / GITHUB
      li
        a(href='https://www.linkedin.com/in/xiao6108/' target="_blank") / LINKIN
      li
        a(href='https://codepen.io/xiao6108/pens/public/' target="_blank") / CODEPAN
  h6.footer ©  呂亞宸 ｜ xiao6108@gmail.com